*{
    box-sizing: border-box;
}
.box{
    display: inline-block;
    width: 100px;
    height: 100px;
    background: red;
    color: white;
}
#two {
    position: relative;
    top: 20px;
    left: 20px;
    background: blue;
    
}
/*Relative positioning*/
.relavive
{
    margin: 40px;
    position: relative;
    width: 400px;
    height: 200px;
    border: 3px solid blue;
}
/*Absolut positioning*/
.absolut{
    position: absolute;
    width: 200px;
    height: 100px;
    border: 3px solid blue;
    top: 80px;
    right: 0;
}
/*Fixed positioning*/
.outer > #one{
    position: fixed;
    top: 80px;
    left: 10px;
    background: blue;

}
.outer{
    width: 400px;
    
}
.three{
    z-index: 999;
}
section{
    width: 100%;
    border: 2px solid blue;
    float: left;
}
section > div {
    margin: 5px;
    width: 50px;
    height: 50;

}
.left{
    float: left;
    background: pink;

}
.right{
    float: right;
    background: pink;
}
p{
    display: inline;
}
.card-section{
    padding: 50px;

}
.card-section > .card-article{
    width: calc(30%-20px);
    height: ;
    background-color: rgb(66, 65, 65);
    color: white;
    display: inline-block;
    float: left;
    margin: 10px;
    padding: 20px;
}